* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  overflow-x: hidden;
}
h1 {
  font-size: 60px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  background-color: skyblue;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translate(700%);
  transition: transform 1s ease;
}
.box:nth-of-type(even) {
  transform: translateX(-700%);
}

.box.show {
  transform: translate(0);
}
